/* global style start */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* global style end */

/* common share style start */

body {
    font-family: 'Work Sans', sans-serif;
}

/* common share style end */

/* header related style start */

header {
    height: 130px;
    padding: 45px 200px 0px 200px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

/* header related style end */

/* nav related style start */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-content {
    display: flex;
    align-items: center;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 32px;
}

nav a {
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

.nav-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 262px;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.youtube {
    color: red;
    font-size: 25px;
}

.tiktok {
    color: black;
    font-size: 25px;
    margin-left: 10px;
}

/* nav related style end */

/* banner related style start */

.banner {
    padding-top: 100px;
    background-image: url('../images/Group\ 14.png');
    background-repeat: no-repeat;
}

.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content {
    margin-right: 350px;
}

.banner-title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-gradiant-title {
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 15px;
}

.banner-sub-title {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
}

.last-sub-title {
    margin-bottom: 41px;
}

.pink-btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 21px 40px;
    border-radius: 48px;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
    text-decoration: none;
}

.blue-btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 21px 40px;
    border-radius: 48px;
    background: #4EC5F7;
    text-decoration: none;
    margin-left: 24px;
}

.banner-img {
    width: 719.446px;
    height: 681.018px;
    position: relative;
    bottom: 80px;
}

/* banner related style end */

/* online games related style start */

.online-games {
    padding-top: 40px;
}

.games-title {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.games-title-gradiant {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
}

.games-description {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 16px;
}

.games-container {
    padding-top: 48px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.games-sub-title {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    padding-top: 24px;
}

/* online games related style end */

/* games-featured related style start */

.games-featured {
    margin-top: 120px;
    padding: 50px 0px;
}

.games-featured-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.play-instantly {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.no-downloads {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.no-installs {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    text-align: right;
}

.games-featured-description {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 24px;
}

/* games-featured related style end */

/* games category related style start */

.games-category {
    margin-top: 120px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
}

.games-category-first-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27px;
    padding-top: 120px;
}

.games-category-second-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27px;
    margin-top: 28px;
    padding-bottom: 120px;
}

.category-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 243px;
    height: 80px;
    border-radius: 50px;
    background: #FFF;
}

.category-title {
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
}

.pink-hover-box:hover {
    border-radius: 50px;
    border: 1.5px solid var(--Linear, #FF42A5);
    background: #FFF;
}

/* games category related style end */

/* footer related style start */

.footer {
    width: 1920px;
    height: 636px;
    background: #0B0223;
    padding: 120px 0px 130px 0px;
}

.footer-logo {
    text-align: center;
}

.footer-title-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding-top: 66px;
}

.footer-title-box a {
    text-decoration: none;
}

.footer-title {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
}

.footer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding-top: 66px;
}

.facebook {
    color: #FFFFFF;
    font-size: 30px;
}

.twitter {
    color: #FFFFFF;
    font-size: 30px;
}

.instagram {
    color: #FFFFFF;
    font-size: 30px;
}

.linkedin {
    color: #FFFFFF;
    font-size: 30px;
}

.yt {
    color: #FFFFFF;
    font-size: 30px;
}

.apple {
    color: #FFFFFF;
    font-size: 30px;
}

.footer-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding-top: 74px;
}

.footer-menu-title {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
}

.footer-menu a {
    text-decoration: none;
}

.footer-copyright {
    padding-top: 25px;
}

.copyright-title {
    text-align: center;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
}

/* footer related style end */

/* mobile responsive start */

@media screen and (max-width: 576px) {

    /* header related style start */

    header {
        height: 200px;
        padding: 20px 20px 0px 20px;
    }

    /* header related style end */

    /* nav related style start */

    .nav-content {
        margin-bottom: 10px;
    }

    nav {
        flex-direction: column;
    }

    nav>ul {
        flex-direction: column;
    }

    .nav-icon {
        margin-top: 10px;
    }

    /* nav related style end */

    /* banner related style start */

    .banner-container {
        flex-direction: column;
    }

    .banner-content {
        margin-right: 10px;
    }

    .banner-title {
        font-size: 48px;
    }

    .pink-btn {
        font-size: 14px;
    }

    .blue-btn {
        font-size: 14px;
    }

    .banner-img {
        width: 100%;
        margin-top: 20px;
        position: static;
    }

    /* banner related style end */

    /* online games related style start */

    .games-container {
        flex-direction: column;
    }

    .games-title {
        font-size: 26px;
    }

    .games-title-gradiant {
        font-size: 26px;
    }

    .games-description {
        font-size: 14px;
    }

    .games-sub-title {
        padding-bottom: 24px;
    }

    /* online games related style end */

    /* games-featured related style start */

    .games-featured-container {
        flex-direction: column;
    }

    .games-featured-image {
        width: 100%;
        padding: 0px 20px;
    }

    .games-featured-description {
        padding-bottom: 24px;
    }

    /* games-featured related style end */

    /* games category related style start */

    .games-category-first-row {
        flex-direction: column;
    }

    .games-category-second-row {
        flex-direction: column;
    }

    /* games category related style end */

    /* footer related style start */

    .footer {
        width: 100%;
        padding-top: 120px;
    }


    .footer-title-box {
        flex-direction: column;
        gap: 2px;
        padding: 0px;
    }


    .footer-icon {
        flex-direction: column;
        gap: 0px;
        padding-top: 30px;
    }

    .footer-menu {
        flex-direction: column;
        gap: 0px;
        padding-top: 0px;
    }

    .footer-copyright {
        padding-top: 0px;
    }

    /* footer related style end */

}

/* mobile responsive end */

/* tablet responsive start */

@media screen and (min-width: 576px) and (max-width: 992px) {

    /* header related style start */

    header {
        padding: 45px 20px 0px 20px;
    }

    /* header related style end */

    /* banner related style start */

    .banner-container {
        flex-direction: column;
    }

    .banner-content {
        margin-right: 10px;
    }

    .banner-title {
        font-size: 48px;
    }

    .pink-btn {
        font-size: 14px;
    }

    .blue-btn {
        font-size: 14px;
    }

    .banner-img {
        width: 100%;
        margin-top: 20px;
        position: static;
    }

    /* banner related style end */

    /* online games related style start */

    .games-container {
        flex-direction: column;
    }

    .games-title {
        font-size: 26px;
    }

    .games-title-gradiant {
        font-size: 26px;
    }

    .games-description {
        font-size: 14px;
    }

    .games-sub-title {
        padding-bottom: 24px;
    }

    /* online games related style end */

    /* games-featured related style start */

    .games-featured-container {
        flex-direction: column;
    }

    .games-featured-image {
        width: 100%;
        /* padding: 0px 20px; */
    }

    .games-featured-description {
        padding-bottom: 24px;
    }

    /* games-featured related style end */

    /* games category related style start */

    .games-category-first-row {
        flex-direction: column;
    }

    .games-category-second-row {
        flex-direction: column;
    }

    /* games category related style end */

    /* footer related style start */

    .footer {
        width: 100%;
        padding-top: 120px;
    }


    .footer-title-box {
        flex-direction: column;
        gap: 2px;
        padding: 0px;
    }


    .footer-icon {
        flex-direction: column;
        gap: 0px;
        padding-top: 30px;
    }

    .footer-menu {
        flex-direction: column;
        gap: 0px;
        padding-top: 0px;
    }

    .footer-copyright {
        padding-top: 0px;
    }

    /* footer related style end */

}


/* tablet responsive end */